<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ElasticURL" value="https://nenadzivkovic.es.eastus2.azure.elastic-cloud.com:9243"/>
    <add key="ElasticUsername" value="elastic"/>
    <add key="ElasticPassword" value="hxcaQbrzRiNJ0OwHdyBKaR/Mi5hDC/X/WOwJwxWwg7WkNCaI6QnlP/EM6YHuJyqF2SbQVsjnTAk="/>
  </appSettings>
</configuration>